spring:
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
  spring:
    rsocket:
      server:
        port: 8080       # porta do RSocket
        address: 0.0.0.0     # escuta em todas as interfaces (não só localhost)
        transport: tcp